* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
  background-color: #ffffff;
  color: #333;
  transition: background-color 0.3s, color 0.3s;
}


body.light-mode {
  background-color: #ffffff;
  color: #000000;
}

body.dark-mode {
  background-color: #000000;
  color: #ffffff;
}


html, body {
  height: 100%;
}


.head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
}


.Mode-section {
    display: flex;
    align-items: center;
    gap: 10px;
}

.Mode-status {
    font-weight: 300;
    font-size: 14px;
}

.checkboxMode {
    position: relative;
    width: 60px;
    height: 30px;
}

.checkboxMode input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    inset: 0;
    background-color: #ccc;
    transition: 0.4s;
    border-radius: 30px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 22px;
    width: 22px;
    left: 4px;
    bottom: 4px;
    background: white;
    border-radius: 50%;
    transition: 0.4s;
}

input:checked + .slider {
    background-color: #696c6e;
}

input:checked + .slider:before {
    transform: translateX(30px);
}
@media screen and (max-width:800px){
.head .logo{
    width:60px;
    height:60px;
}
.head h1{
    font-size:20px;
}
.checkboxMode {
    position: relative;
    width: 45px;
    height: 30px;
}
.Mode-status {
    font-weight: 200;
    font-size: 10px;
}
input:checked + .slider:before {
    transform: translateX(16px);
}
}


main {
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 60px;
    padding-top: 40px;
}


.search-section {
    width: 450px;
    display: flex;
    gap: 10px;
}

.input {
    background-image: url('images/search_icon.png');
    background-repeat: no-repeat;
    background-position: right 10px center;
    background-size: 20px 20px;
    padding-left: 40px;
    padding: 8px 12px;
    width: 300px;
    height: 40px;
    border-radius: 40px;
    border: 1px solid #ccc;
}

button {
    width: 100px;
    height: 40px;
    cursor: pointer;
    border-radius: 40px;
    border: 1px solid #ccc;
    font-size: 16px;
}
@media screen and (max-width: 800px){

.search-section {
    width: 450px;
    display: flex;
    gap: 8px;
    margin-top:-10px;
}

.input {
    background-image: url('images/search_icon.png');
    background-repeat: no-repeat;
    background-position: right 10px center;
    background-size: 13px 13px;
    padding-left: 40px;
    padding: 8px 12px;
    width: 200px;
    height: 30px;
    border-radius: 40px;
    border: 1px solid #ccc;
}

button {
    width: 70px;
    height: 30px;
    cursor: pointer;
    border-radius: 40px;
    border: 1px solid #ccc;
    font-size: 12px;
}
}

button:hover {
    background-color: #14a1ff;
    color: #000;
}


.location-section {
    width: 400px;
    display: flex;
    align-items: center;
    gap: 10px;
    margin-left: 10%;
}

.city_name {
    font-size: 54px;
    font-weight: bold;
}

.img_location {
    width: 30px;
    height: 35px;
    margin-top: 5px;
}
@media screen and (max-width:800px){
    .location-section {
    width: 400px;
    display: flex;
    align-items: center;
    gap: 10px;
    margin-left: -2%;
    margin-top:-20px;
}

.city_name {
    font-size: 35px;
    font-weight: bold;

}

.img_location {
    width: 20px;
    height: 20px;
    margin-top: 5px;

}
}


.weather_details {
    width: 500px;
    display: flex;
    align-items: center;
    gap: 50px;
    margin-left: 5%;
}
@media screen and (max-width: 800px){
    .weather_details {
        margin-top: 120px;
    margin-left:-10px;
    width: 300px;
    display: flex;
    align-items: center;
    gap: 20px;
}
   .weather_details img {
  width:20px;
  height:20px;
}
   .weather_details p {
font-size:14px;
}

}


.status-main {

    display: flex;
    justify-content: center;
    width: 400px;
    height: 400px;
    margin-left: auto;
    margin-top: -400px;
}

.img_status1 {
    width: 350px;
    margin-top: -35px;
    height: 350px;
}
@media screen and (max-width:800px){
.status-main {
    display: flex;
    justify-content: center;
    width: 200px;
    height: 200px;
    margin-left: auto;
    margin-top: -350px;
}
    .img_status1 {
    width: 200px;
    margin-top: 35px;
    height: 200px;
}
}


.status-secondary {
    width: 250px;
    height: 80px;
    display: flex;
    align-items: center;
    gap: 10px;
    margin-left:  auto;
    margin-right:120px;
    margin-top: -200px;
}

.status-secondary .img_status2 {
    width: 50px;
    height: 50px;
    margin-left: 10px;
}

.status-secondary p {
    font-size: 20px;
}
@media screen and (max-width:800px){
    .status-secondary {
    width: 150px;
    height: 80px;
    display: flex;
    align-items: center;
    gap: 10px;
    margin-left:  auto;
    margin-right:-20px;
    margin-top: -20px;
}

.status-secondary .img_status2 {
    width: 30px;
    height: 30px;
    margin-left: -200px;
    margin-top:-220px;
}

.status-secondary p {
    font-size: 15px;
    margin-top:-220px;
}
}


footer {
    width: 65%;
    margin: 40px auto 40px auto;
    text-align: center;
    font-size: 20px;
    line-height: 1.5;
}
@media screen and (max-width: 800px){
    footer {
    width: 95%;
    margin: 20px auto 2px auto;
    text-align: center;
    font-size: 13px;
    line-height: 1.5;
}
}